/* ============= */
/* Google Fonts */
/* =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* ==================== */
/* General Definitions */
/* ================== */
* {
    margin: 0; padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(rgb(255, 0, 51, 0.8), #000000);
}

ul li {
    list-style: none;
}


:root {
/* ========================== */
/* Color Palette Definitions */
/* ======================== */

    --Background:#282a36;
    --CurrentLine:#44475a;
    --Selection: #44475a;
    --Foreground:#f8f8f2;
    --Comment:	#6272a4;
    --Cyan:	#8be9fd;
    --Green:#50fa7b;
    --Orange:#ffb86c;
    --Pink:	#ff79c6;
    --Purple: #bd93f9;
    --Red: #ff5555;
    --Yellow: #f1fa8c;

/* ========== */
/* Variables */
/* ======== */

    /* Fonts weight */
    --fontRegular: 400;
    --fontMedium: 500;
    --fontBold: 700;

    /* Font Size */
    --fontSize35px: 3.5rem;
    --fontSize30px: 3.0rem;
    --fontSize25px: 2.5rem;
    --fontSize20px: 2.0rem;
    --fontSize15px: 1.5rem;

}

/* ===================== */
/* Reusable Definitions */
/* =================== */

/* =============== */
/* Other settings */
/* ============= */

/* Header */
header.header {
    position: absolute; z-index: 2;
    width: 100%; height: 80px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 35px;
}

header.header img {
    cursor: pointer;
}

header.header .toggle-bars {
    width: 40px; height: auto;
    cursor: pointer;
}

header.header .toggle-bars div {
    height: 4px;
    background: #fff;
    float: right;
}

header.header .toggle-bars div:nth-child(1) {
    width: 40px;
}

header.header .toggle-bars div:nth-child(2) {
    width: 35px;
    margin: 7px 0;
}

header.header .toggle-bars div:nth-child(3) {
    width: 37px;
}


/* Main */
main {
    position: absolute;
    width: 100%; height: 100%;
    display: flex; align-items: center; justify-content: center;
}

main .music-area .banner-music {
    padding: 40px 0;
    display: flex; justify-content: center;
}

main .music-area .banner-music img {
    width: 250px;
    margin: 0 30px;
    cursor: pointer;
}

main .music-area .banner-music img.current-music {
    margin-top: -45px;
}

main .music-area.on .banner-music img.current-music {
    /* -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    animation: slide-top 0.5s ease infinite alternate;
}

@keyframes slide-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

main .progress-bar {
    margin: 40px 0;
}

main .progress-bar input[type=range] {
    width: 100%;
    background: #44475a;
    margin: 0 auto;
}

main .music-area .music-details {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main .music-area .music-details h2 {
    color: #fff;
    font-size: 2.0rem;
    font-weight: var(--fontRegular);
}

main .music-area .music-details span {
    color: #9D9D9D;
    font-size: 1.6rem;
}

/* main .music-area .progress-bar {
    width: 100%; height: 10px;
    background: red;
} */

main .music-area .controls {
    width: 100%;
}

main .music-area .controls ul {
    display: flex; align-items: center; justify-content: center;
}

main .music-area .controls ul li {
    margin: 0 20px;
}

main .music-area .controls span {
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

main .music-area .controls .play-controll span {
    font-size: 3.5em;
}






.list {
    position: absolute; z-index: 3;
    width: 100%; height: 100vh;
    backdrop-filter: brightness(40%);
    display: none;
}

.list.on {
    display: block;
}

.list .container {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; max-width: 1000px; height: auto;
    background: rgba(12, 12, 12, 0.9);
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.list .container .header {
    width: 100%; height: 45px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    border-bottom: 1px solid #1B1B1B;
    background: rgba(0, 0, 0, .4);
}

.list .container .header h2 {
    font-size: 1.2rem;
    font-weight: var(--fontRegular);
}

.list .container .header h2 span {
    font-size: 1rem;
}

.list .container .header span.material-icons-outlined {
    font-size: 1.2rem;
    cursor: pointer;
}

.list .container .music-list {
    height: 300px;
    overflow: auto;
}

.list .container .music-list::-webkit-scrollbar {
  width: 4px;
}

.list .container .music-list::-webkit-scrollbar-track {
  background: #1B1B1B;
}

.list .container .music-list::-webkit-scrollbar-thumb {
  background: #afafaf; 
}

.list .container .music-list .music-item {
    width: 100%; height: 55px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    border-bottom: 1px solid #1B1B1B;
    cursor: pointer;
}

.list .container .music-list .music-item:hover {
    background: rgba(12, 12, 12, 0.9);
}

.list .container .music-list .music-item.active {
    background: rgb(255,0, 51);
}

.list .container .music-list .music-item .name-music h2 {
    font-size: 1.4rem;
}

.list .container .music-list .music-item .name-music span {
    color: #afafaf;
}

.list .container .music-list .music-item span.material-icons {
    font-size: 3rem;
    cursor: pointer;
}

.list .container .select-theme-footer {
    width: 100%; height: 50px;
    background: rgba(12, 12, 12, 0.6);
    display: flex; align-items: center; justify-content: right;
    padding: 0 20px;
}

.list .container .select-theme-footer div {
    width: 25px; height: 25px;
    background: red;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;
}

.list .container .select-theme-footer div::target-text {
    display: none;
}

.list .container .select-theme-footer div.red-theme {
    background: #56101E;
}

.list .container .select-theme-footer div.blue-theme {
    background: #0085FF;
}

.list .container .select-theme-footer div.green-theme {
    background: #00FF85;
}

.list .container .select-theme-footer div.selected {
    border: 2px solid #ffffff; 
}


/* ================ */
/* Main Animations */
/* ============== */