/* ============= */
/* Google Fonts */
/* =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* ==================== */
/* General Definitions */
/* ================== */
* {
    margin: 0; padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


:root {
/* ========================== */
/* Color Palette Definitions */
/* ======================== */

    --Background:#282a36;
    --CurrentLine:#44475a;
    --Selection: #44475a;
    --Foreground:#f8f8f2;
    --Comment:	#6272a4;
    --Cyan:	#8be9fd;
    --Green:#50fa7b;
    --Orange:#ffb86c;
    --Pink:	#ff79c6;
    --Purple: #bd93f9;
    --Red: #ff5555;
    --Yellow: #f1fa8c;

/* ========== */
/* Variables */
/* ======== */

    /* Fonts weight */
    --fontRegular: 400;
    --fontMedium: 500;
    --fontBold: 700;

    /* Font Size */
    --fontSize35px: 3.5rem;
    --fontSize30px: 3.0rem;
    --fontSize25px: 2.5rem;
    --fontSize20px: 2.0rem;
    --fontSize15px: 1.5rem;

}

/* ===================== */
/* Reusable Definitions */
/* =================== */

/* =============== */
/* Other settings */
/* ============= */

.wrapper {
    position: absolute;
    width: 100%; height: 100vh;
    background: rgb(255,0,51);
    background: radial-gradient(circle, rgba(255,0,51,1) 0%, rgba(140,3,30,1) 0%, rgba(6,6,6,1) 81%, rgba(0,0,0,1) 100%);
    transition: 0.3s;
}

.wrapper.on-content-left {
    margin-left: 250px;
}

/* Header */
header.header {
    position: absolute; z-index: 2;
    width: 100%; height: 80px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 35px;
}

header.header img {
    cursor: pointer;
}

header.header span {
    color: var(--Foreground);
    font-size: 4.3rem;
    cursor: pointer;
}


/* Main */
main {
    position: absolute;
    width: 100%; height: 100%;
}

main .music-area {
    width: 100%;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

main .music-area .banner-music {
    width: 100%;
}

main .music-area .banner-music .banner-card {
    position: relative; left: 50%; transform: translate(-50%);
    width: 250px; height: 250px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.87); 
    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.87);
}

main .music-area .banner-music .banner-card:hover .controls-banner {
    opacity: 1;
}

main .music-area .banner-music .image-banner {
    position: absolute;
    width: 100%; height: 100%;
}

main .music-area .banner-music .image-banner img {
    width: 100%; height: 100%;
}

main .music-area .banner-music .controls-banner {
    opacity: 0;
    position: relative; left: 0; top: 0;
    height: 100%;
    display: flex; align-items: center; flex-direction: column; justify-content: space-evenly;
    transition: opacity 0.3s;
}

main .music-area .banner-music .controls-banner .nivel-volume {
    position: absolute; bottom: 0; z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

main .music-area .banner-music .controls-banner .controls-icons {
    width: 100%; height: 100%;
    position: absolute; z-index: 2;
    display: flex; align-items: center; flex-direction: column; justify-content: space-evenly;
}

main .music-area .banner-music .controls-banner .controls-icons span {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}


main .music-area .music-details {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 35px;
}

main .music-area .music-details h2 {
    color: #fff;
    font-size: 2.0rem;
    font-weight: var(--fontRegular);
}

main .music-area .music-details p {
    color: #9D9D9D;
    font-size: 1.6rem;
}

main .music-area .music-details span {
    color: #9D9D9D;
    font-size: 1.6rem;
}


main .progress-bar {
    width: 700px;
    margin: 0 auto 20px auto;
}

main .progress-bar input[type=range] {
    width: 100%;
    margin: 0 auto;
}

main .music-area .controls {
    width: 100%;
}

main .music-area .controls ul {
    display: flex; align-items: center; justify-content: center;
}

main .music-area .controls ul li {
    margin: 0 20px;
}

main .music-area .controls span {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

main .music-area .controls .play-controll span {
    font-size: 4em;
}


/* Display Container */
.display-container {
    position: absolute; z-index: 2; left: -500px;
    width: 500px; height: 100vh;
    background: var(--Background);
    transition: 0.3s;
}

.display-container .scroll-custom::-webkit-scrollbar {
    width: 4px;
}

.display-container .scroll-custom::-webkit-scrollbar-track {
    background: var(--Comment); 
}

.display-container .scroll-custom::-webkit-scrollbar-thumb {
    background: var(--CurrentLine); 
}

/* List Music */
.list {
    width: 100%; height: 100%;
    padding: 20px;
    display: none;
}

.list h2.title-list {
    color: var(--Foreground);
}

.list .music-list {
    height: 90vh;
    overflow: auto;
    display: flex; flex-direction: column;
    margin-top: 20px;
}

.list .music-list .music-item {
    display: flex; justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

.list .music-list .music-item:hover {
    background: var(--CurrentLine);
}

.list .music-list .music-item .name-music {
    color: #fff;
}

.list .music-list .music-item span.time-music {
    color: #9D9D9D;
    font-size: 1.2rem;
}

/* Lyrics Music */
.lyrics {
    width: 100%; height: 100%;
    padding: 20px;
    display: none;
}


.lyrics h2.title-lyrics {
    color: var(--Foreground);
}

.lyrics .select-version {
    display: flex;
    margin: 20px 0;
}

.lyrics .select-version button {
    width: 100%; height: 35px;
    color: var(--Foreground);
    background: var(--Purple);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
}

.lyrics .select-version button.current-lyrics {
    background: var(--Pink);
}

.lyrics .show-lyrics {
    width: 100%; height: 80vh;
    overflow: auto;
    margin: 20px 0;
}

.lyrics .show-lyrics p {
    white-space: pre-line;
    color: var(--Comment);
    font-size: 1.4rem;
}

.lyrics .copyright {
    width: 100%;
    color: var(--Foreground);
    padding: 10px;
    background: var(--Pink);
}

.lyrics .copyright p {
    font-size: 1.2rem;
}

.lyrics .copyright p a {
    color: var(--Foreground);
    font-weight: var(--fontBold);
}

/* ================ */
/* Main Animations */
/* ============== */